# My Data Science Notebook

## Introduction

This notebook is designed to demonstrate various data science concepts, including data visualization, arithmetic operations, and machine learning techniques.

## Data Science Languages

- Python
- R
- SQL
- Java

## Data Science Libraries
- Pandas
- NumPy
- Matplotlib
- Scikit-learn
- TensorFlow
- PyTorch

## Data Science Tools

| Tool         | Purpose                           |
|--------------|-----------------------------------|
| Jupyter      | Interactive notebook environment  |
| RStudio      | IDE for R programming             |
| TensorFlow   | Machine learning library          |
| Pandas       | Data manipulation library         |
| GitHub       | Version control and collaboration |

## Arithmetic Expression Examples

This section demonstrates how to perform basic arithmetic operations using Python.

In [3]:
# Multiplying and adding numbers
a = 5
b = 10
result = a * b + 20
result

70

In [4]:
# Convert minutes to hours
minutes = 120
hours = minutes / 60
hours

2.0

## Objectives
- Learn to use markdown cells.
- Understand how to perform basic arithmetic operations.
- Create data science tables and visualizations.

## Author
- Name: Srijani Gupta